*.iml
.idea/
.vscode/
.ipr
.iws
*~
~*
/node_modules
/*.log
/log/*.log
/.idea
/build
/temp
/public/assets
/public/uploads
/app/services/translate
/*-compiled.js
/*-compiled.js.map
*-compiled.js
*-compiled.js.map
/.env.docker
